@model IEnumerable<CancerRegistry.Identity.ApplicationUser>;
@{
    Layout = "_LayoutDoctor";
}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Пациенти</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a asp-controller="DoctorDashboard" asp-action="AddPatient" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Добави пациент</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>ЕГН</th>
                        <th>Тел. номер</th>
                        <th class="text-right">Действие</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td><img width="28" height="28" src="~/assets/img/user.jpg" class="rounded-circle m-r-5" alt=""> @patient.FirstName @patient.LastName</td>
                        <td>@patient.EGN</td>
                        <td>@patient.PhoneNumber</td>
                        <td><a asp-controller="DoctorDashboard" asp-action="AddDiagnose" asp-route-patientId="@patient.Id" ><button class="btn btn-primary btn-primary-one float-right">Добави диагноза</button></a></td>
                        <td><a asp-controller="DoctorDashboard" asp-action="AddTreatment" asp-route-patientId="@patient.Id"><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>