@{
    Layout = "_LayoutDoctor";
}

@model List<CancerRegistry.Models.Accounts.Patient.DoctorDashboardPatientModel> 
<div class="content">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Моите пациенти</h4> <a asp-controller="DoctorDashboard" asp-action="AllPatients" class="btn btn-primary float-right">Всички пациенти</a>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            <tbody>
                                @foreach (var patient in Model)
                                {
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="~/assets/img/user.jpg" alt="">
                                        <h2>@patient.Name</h2>
                                    </td>
                                    <td>+@patient.PhoneNumber</td>
                                    @if (patient.DiagnoseId == -1)
                                    {
                                        <td><a href="@Url.Action("","Diagnose", new { diagnoseId = patient.DiagnoseId, patientId = patient.Id, patientName = patient.Name })"><button class="btn btn-primary btn-primary-one float-right">Добави диагноза</button></a></td>
                                    }
                                    else
                                    {
                                        <td><a href="@Url.Action("","Diagnose", new { diagnoseId = patient.DiagnoseId, patientId = patient.Id, patientName = patient.Name })"><button class="btn btn-primary btn-primary-one float-right">Диагноза</button></a></td>
                                    }
                                    <td><a asp-controller="DoctorDashboard" asp-action="History" asp-route-patientId="@patient.Id" class="btn btn-primary btn-primary-one float-right">Виж история</a></td>
                                    @if (patient.TreatmentId == -1)
                                    {
                                        <td><a href="@Url.Action("","Treatment", new { diagnoseId = patient.DiagnoseId, treatmentId = patient.TreatmentId, patientId = patient.Id, patientName = patient.Name })"><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>
                                    }
                                    else
                                    {
                                        <td><a href="@Url.Action("","Treatment", new { diagnoseId = patient.DiagnoseId, treatmentId = patient.TreatmentId, patientId = patient.Id, patientName = patient.Name })"><button class="btn btn-primary btn-primary-three float-right">Лечение</button></a></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>