@model CancerRegistry.Identity.ApplicationUser;
@{
    Layout = "_LayoutDoctor";
}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Моят профил</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a asp-controller="Account" asp-action="EditDoctorProfile" asp-route-doctorId="@Model.Id"  class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Редактирай профила</a>
    </div>
</div>

<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        <a href="#"><img class="avatar" src="~/assets/img/doctor-thumb-06.jpg" alt=""></a>
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.FirstName @Model.LastName</h3>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Тел.номер:</span>
                                    <span class="text"><a href="#">@Model.PhoneNumber</a></span>
                                </li>
                                <li>
                                    <span class="title">Година на раждане</span>
                                    <span class="text">@Model.BirthDate.ToShortDateString()</span>
                                </li>
                                <li>
                                    <span class="title">УИН</span>
                                    <span class="text">@Model.UID</span>
                                </li>
                                <li>
                                    <span class="title">Фамилия</span>
                                    <span class="text">@Model.LastName</span>
                                </li>
                                <li>
                                    <span class="title">Име</span>
                                    <span class="text">@Model.FirstName</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Информация</a></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h3 class="card-title">Образование</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">International College of Medical Science (UG)</a>
                                            <div>MBBS</div>
                                            <span class="time">2001 - 2003</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">International College of Medical Science (PG)</a>
                                            <div>MD - Obstetrics & Gynaecology</div>
                                            <span class="time">1997 - 2001</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-box mb-0">
                        <h3 class="card-title">Професионален опит</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Consultant </a>
                                            <span class="time">Jan 2014 - Present (4 years 8 months)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Consultant </a>
                                            <span class="time">Jan 2009 - Present (6 years 1 month)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Consultant</a>
                                            <span class="time">Jan 2004 - Present (5 years 2 months)</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            Tab content 2
        </div>
        <div class="tab-pane" id="bottom-tab3">
            Tab content 3
        </div>
    </div>
</div>