@model CancerRegistry.Identity.ApplicationUser;
@{
    Layout = "_LayoutDoctor";
}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Моят профил</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a asp-controller="Account" asp-action="EditDoctorProfile" asp-route-doctorId="@Model.Id"  class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Редактирай профила</a>
    </div>
</div>

<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        <a href="#"><img class="avatar" src="~/assets/img/doctor-thumb-06.jpg" alt=""></a>
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.FirstName @Model.LastName</h3>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Тел.номер:</span>
                                    <span class="text"><a href="#">@Model.PhoneNumber</a></span>
                                </li>
                                <li>
                                    <span class="title">Година на раждане</span>
                                    <span class="text">@Model.BirthDate.ToShortDateString()</span>
                                </li>
                                <li>
                                    <span class="title">УИН</span>
                                    <span class="text">@Model.UID</span>
                                </li>
                                <li>
                                    <span class="title">Фамилия</span>
                                    <span class="text">@Model.LastName</span>
                                </li>
                                <li>
                                    <span class="title">Име</span>
                                    <span class="text">@Model.FirstName</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

